@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
    height: 100%;
}

header {
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: auto;
    height: auto;
    background: rgb(0, 167, 225);
    background: linear-gradient( 45deg, rgba(0, 167, 225, 1) 0%, rgba(247, 237, 240, 1) 80%, rgba(244, 238, 169, 1) 89%, rgba(244, 244, 130, 1) 99%);
    border-bottom: 0.5vh solid #efefef;
    position: relative;
    z-index: 2;
    display: flex;
}

.header-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    height: 5.5vh;
    display: flex;
    font-weight: bold;
}

.light-yellow {
    color: #ffffbb;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4)
}

.light-blue {
    color: #d2f4ff;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, .4);
}

div#heatMapToggle {
    left: 2vw;
    display: table;
    padding: .625em;
    border-radius: .3em;
    cursor: pointer;
    position: absolute;
    background: white;
    box-shadow: 0px 3px 6px 2px #0000005e;
}

div#heatMapToggle.enabled {
    background: rgba(0, 67, 125, 1);
    color: white;
}

div#sort-arrow {
    float: right;
    padding: .625em;
    border-bottom-right-radius: .3em;
    border-top-right-radius: .3em;
    cursor: pointer;
}

#sort-arrow:hover {
    background: rgba(0, 67, 125, 1);
    color: white;
}

div#sort-by.open {
    box-shadow: 0px 0px 6px 2px #0000005e;
}

div#sort-by {
    margin-left: 6.5vw;
    background: white;
    border-radius: .3em;
    float: right;
    width: 8.3vw;
    min-width: 95px;
    height: auto;
    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 6px 2px #0000005e;
}


div#toolbox {
    top: 2.5vh;
}

.option.active {
    display: flex !important;
}

.option {
    padding: 10px;
    display: none;
}

.option:hover {
    background: rgba(0, 67, 125, 1);
    border-radius: .3em;
    color: white;
    cursor: pointer;
}

div#toolbox {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: left;
}

div#left-panel {
    float: left;
    background: white;
    z-index: 1;
    position: absolute;
    overflow-y: auto;
    left: 2vw;
    border-radius: 5px;
    height: 80vh;
    top: 15vh;
    min-width: 600px;
    width: 20%;
}

#map-container {
    height: 90vh;
    width: 100%;
    float: left;
}

#map {
    height: 100%;
    width: 100%;
}

.city-list-item {
    display: table;
    padding: 20px;
    cursor: pointer;
    width: calc(100% - 40px);
    border-bottom: 1px solid #00000026;
    font-family: "Comfortaa", cursive;
}

.city-list-item:hover {
    background: #477b8d;
    color: white;
}

.city-list-item.active {
    background-color: #01a8e1;
    color: white;
}

.city-name {
    font-size: 30px;
    float: left;
}

.city-temp {
    float: right;
    position: relative;
    font-size: 30px;
    right: 10px;
    top: 10px;
    font-weight: bold;
}

.city-desc {
    width: 100%;
    display: table;
    padding-top: 10px;
}

.box-shadow {
    box-shadow: 0px 0px 6px 4px #00000040;
}

.forecast-item {
    width: calc(20% - 21px);
    float: left;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #00000038;
}

.city-forecast {
    background: white;
    display: table;
    color: black;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}

.forecast-item:last-child {
    border-right: 0px;
}

.fd-day {
    border-top: 1px solid #00000024;
    padding-top: 5px;
}


/* Mobile css */

@media screen and (max-width: 900px) {
    div#toolbox {
        width: 100% !important;
        display: table;
    }
    
    div#sort-by {
        right: 10px;
    }
    #left-panel {
        left: 0px !important;
        top: unset !important;
        bottom: 0px;
        height: calc((100% - 4.5vh - 2.5em) / 2) !important;
        width: 100% !important;
        min-width: 300px !important;
    }
    .city-name,
    .city-temp {
        font-size: 20px;
    }
    #map-container {
        width: 100% !important;
        height: calc((100% - 4.5vh - 2.5em) / 2) !important;
    }
    #header {
        height: 30px !important;
    }
    #header-text {
        font-size: 30px !important;
    }
    div#heatMapToggle {
        left: 10px;
    }
    .city-forecast {
        width: 100% !important;
    }
    /*.forecast-item {
        width: auto;
        float: none;
        border-right: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.521)
    }
    .forecast-item:first-child {
        border: 0px;
    }*/
}


/* Scroll Bar css */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004f8f;
}