@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

header {
	padding-top: 2vh;
	padding-bottom: 2vh;

	width: auto;
	height: auto;

	background: rgb(0, 167, 225);
	background: linear-gradient(
		45deg,
		rgba(0, 167, 225, 1) 0%,
		rgba(247, 237, 240, 1) 80%,
		rgba(244, 238, 169, 1) 89%,
		rgba(244, 244, 130, 1) 99%
	);
	border-bottom: 0.5vh solid #f7edf0;
	box-shadow: 0px 1em 20px 0px #00000030;

	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header-text {
	font-size: 2.5em;
	font-family: "Comfortaa", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}

#left-panel {
	float: left;
	margin-left: 2.5vw;
	margin-top: 12.5vh;
	height: calc(100% - 28vh);
	width: 25%;
	background: white;

	z-index: 1;
	overflow-y: auto;
	position: absolute;

	border-radius: 1em;
}

div#heatMapToggle {
	display: table;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 29px;
    left: 30px;
	background: white;
}

div#heatMapToggle.enabled {
	background: #0062b7;
    color: white;
	top: 26px;
	left: 27px;
}

#map-container {
	height: calc(100% - 85px);
	width: 100%;
	float: left;
}

#map {
	height: 100%;
	width: 100%;
}

.city-list-item {
	display: table;
	padding: 20px;
	cursor: pointer;
	width: calc(100% - 40px);
	border-bottom: 1px solid #00000026;
	font-family: "Comfortaa", cursive;
}

.city-list-item.active {
	background-color: #01a8e1;
	color: white;
}

.city-name {
	font-size: 30px;
	float: left;
}

.city-temp {
	float: right;
	position: relative;
	font-size: 30px;
	right: 10px;
	top: 10px;
	font-weight: bold;
}

.city-desc {
	width: 100%;
	display: table;
	padding-top: 10px;
}
/* Scroll Bar css */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(209, 209, 209);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #004f8f;
}

/* Mobile css */
@media screen and (max-width: 900px) {
	#left-panel {
		position: relative !important;
		left: 0px !important;
		top: 0px !important;
		height: calc(100% - 65px) !important;
		width: 30% !important;
	}
	.city-name,
	.city-temp {
		font-size: 20px;
	}
	#map-container {
		width: 70% !important;
		height: calc(100% - 65px);
	}
	#header {
		height: 30px !important;
	}
	#header-text {
		font-size: 30px !important;
	}
}
