@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

div#header-text {
    font-size: 45px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

div#header {
    padding: 20px;
    height: 45px;
    box-shadow: 0px -7px 20px 0px #00000030;
    width: calc(100% - 40px);
    position: relative;
    z-index: 1;
}


div#left-panel {
    float: left;
    height: calc(87% - 85px);
    width: 20%;
    background: white;
    z-index: 1;
    overflow-y: auto;
    position: absolute;
    left: 2%;
    top: 13%;
    border-radius: 5px;
}

#map-container {
    height: calc(100% - 85px);
    width: 100%;
    float: left;
}

#map{
    height: 100%;
    width: 100%;
}

.city-list-item {
    display: table;
    padding: 20px;
    cursor: pointer;
    width: calc(100% - 40px);
    border-bottom: 1px solid #00000026;
    font-family: 'Comfortaa', cursive;
}

.city-list-item:hover{
    background-color:#00000063;
    color:white;

}

.city-name {
    font-size: 30px;
    float: left;
}

.city-temp {
    float: right;
    position: relative;
    font-size: 30px;
    right: 10px;
    top: 10px;
    font-weight: bold;
}

.city-desc {
    width: 100%;
    display: table;
    padding-top: 10px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 10px;
 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }