/***
****    MOBILE FIRST CSS
***/

@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/comfortaa.ttf");
}

@font-face {
    font-family: "Dripicons";
    src: url("./assets/fonts/dripicons-v2.woff");
}
.dripicon {
    font-family: "Dripicons";
    font-size: 2.4vh;
    font-weight: bold;
}

* {
    font-family: "Comfortaa", system-ui, sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    /* Why is this needed? */
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 167, 225, 1);

    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-shadow {
    box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.4);
}
.text-shadow {
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

header {
    height: 9vh;
    border-top: .5vh solid #efefef;
    border-bottom: 0.5vh solid #efefef;

    background: linear-gradient( 
        45deg, 
        rgba(0, 167, 225, 1) 0%,
        rgba(247, 237, 240, 1) 80%, 
        rgba(244, 238, 169, 1) 89%, 
        rgba(244, 244, 130, 1) 100%);
}
.header-text {
    margin: auto;
    font-size: 6vh;
}
.light-yellow { color: #ffffbb; }
.light-blue { color: #d2f4ff; }

#toolbox {
    position: absolute;
    z-index: 5;

    top: calc(8vh + 2vw);
    width: auto;

    height: 10vh;

    display: flex;
    justify-content: left;
}

.icon { 
    padding: 1.6vh; 
    border: none;
    border-radius: .8vh;

    background: #efefef;

    cursor: pointer;
}

#heatMapToggle { 
    max-height: 6vh;
    overflow: hidden;
    margin-left: 2vw; 
}
#heatMapToggle.enabled {
    background-color: rgb(153,153,153);
    color: #efefef;
}
#heatMapToggle:active {
    background-color: rgb(153,153,153);
    color: #efefef; 
}

#sort-by {
    width: auto;
    height: 6vh;
    max-height: 6vh;
    margin-left: 2vw;

    border-radius: .8vh;
    background: #efefef;

    display: flex;

    font-size: 2.4vh;
}
#sort-arrow { 
    float: left; 
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
#sort-arrow:hover {
    background-color: #efefef;
    color: black; 
}
#sort-arrow:active {
    background: rgba(0, 0, 0, 0.4);
    color: #efefef;
}

.option {
    padding: 1.6vh;
    display: none;
    cursor: pointer;
    border-radius: .8vh;

    background-color: #efefef;
    color: black;
}
.option.active {
    display: flex !important;
}
.option:active {
    background: rgba(0, 0, 0, 0.4);
    color: #efefef;
}

#searchBar {
    font-size: 2.4vh;
    padding-left: 2vw;

    position: absolute;
    z-index: 1;

    top: calc(10vh + 2vw);
    width: 46vw;
    right: 2vw;

    min-height: 6vh;
    border: none;
    border-radius: .8vh;
}

#searchButton {
    position: absolute;
    z-index: 10;
    top: calc(10vh + 2vw);
    right: 2vw;

    height: 6vh;

    color: black;
}
#searchButton:active {
    background: rgba(0, 0, 0, 0.4);
    color: #efefef;
}

#left-panel {
    float: left;
    position: absolute;
    
    top: unset;
    left: 0px;
    bottom: 0px;

    width: 100%;
    min-width: 300px;
    height: 36.4vh;

    overflow-y: auto;

    background: #efefef;
    border-radius: .8vh;

    z-index: 1;
}

.city-list-item {
    display: table;
    padding: 2.7vh;
    width: calc(100% - 5.4vh);

    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    cursor: pointer;
}
.city-list-item:hover {
    background: rgba(0, 0, 0, 0.4);
    color: #efefef;
}
.city-list-item.active {
    background-color: rgba(0, 167, 225, 1);
    color: #efefef;
}

.city-name {
    font-size: 3vh;
    float: left;
}
.city-temp {
    float: right;
    position: relative;
    right: 1vh;
    top: 2vh;
    font-size: 3vh;
}
.city-desc {
    width: 100%;
    display: table;
    font-size: 2vh;
    padding-top: 1vh;
}
.city-forecast {
    background: #efefef;
    display: table;
    color: black;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
    font-size: 3.5vw;
}

.forecast-item {
    width: calc(20% - 21px);
    float: left;
    text-align: center;
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.forecast-item:last-child {
    border-right: 0px;
}

.fd-day {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 5px;
}

#map-container {
    width: 100%;
    height: 53.6vh;
}
#map {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    
    #toolbox {
        top:0;
        width: 30vw;
    }

    #sort-arrow:hover {
        background: rgba(0, 0, 0, 0.4);
        color: #efefef;
    }

    #searchBar {
        top: 2vh;
        width: 20vw;
    }

    #searchButton {
        top: 2vh;
    }

    #left-panel {
        left: 2vw;
        top: 15vh;
        bottom: unset;
        height: 80vh;
        width: 20%;
        min-width: 600px;
    }

    .city-name,
    .city-temp {
        font-size: 4vh;
    }

    #map-container {
        width: 100%;
        height: 90vh;
    }

    .city-forecast {
        width: 100%;
        font-size: unset;
    }
}


/* Scroll Bar css */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #efefef;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 167, 225, 1);
}